-r requirements.in

# Dependencies management
pip-tools==6.5.1

# Code checks
pre-commit==2.17.0
isort==5.10.1
black==22.1.0
prospector==1.7.7

# Debugging
ipdb==0.13.9
ipython==8.1.1

# Logging
structlog==21.5.0
rich==12.0.0

# Testing
pytest==7.1.0
factory_boy==3.2.1
freezegun==1.2.0
